.container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}

.container .wrapper,
.container .wrapper .flex {
  display: inline-flex;
}

.container .wrapper .main {
  padding: 1.2vw;
  border-top: 1px solid #9a9a9a;
  border-left: 1px solid #9a9a9a;
  border-bottom: 1px solid #9a9a9a;
}

.container .wrapper .main .flex img {
  /*100x100*/
  max-height: 100px;
  max-width: 100px;
  width: 100%;
  height: 100%;
  padding: .4vw;
}

.container .wrapper .main .flex .info {
  padding: 1vw;
  font-size: 1.1rem;
}

.container .wrapper .sidebar {
  padding: 1.2vw;
  border: 1px solid #9a9a9a;
}

.container .wrapper .sidebar .flex img {
  /*50x50*/
  max-height: 50px;
  max-width: 50px;
  width: 100%;
  height: 100%;
  padding: .2vw;
}

.container .wrapper .sidebar .flex .info {
  padding: .2vw;
  font-size: .9rem;
}

h1,
h2 {
  margin: .1vw;
  text-align: center;
}